<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="movie1" value="F:\Movie1st\"/>
    <add key="movie2" value="G:\Movie2nd0\"/>
    <add key="movie3" value="G:\Movie2nd\"/>
    <add key="movie4" value="H:\Movie3rd\"/>
    <add key="show1" value="F:\Show1st\"/>
  </appSettings>
</configuration>
